COMPOSE_PROJECT_NAME=aura

POSTGRES_DB=aura_dev
POSTGRES_USER=aura_dev
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=aura_dev
RABBITMQ_PASSWORD=replace_with_local_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672